
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}'s Statistics</title>
    <link rel="stylesheet" href="input.css" />
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH45TgrphrMnMTlMx9wpG_Jj7JoBzrI9zAfg&s">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-gray-700">

  <div class=" flex items-center bg-gray-800 shadow-2xl">
    <div class="px-4 mx-auto mt-16 mb-16 max-w-7xl sm:mt-24">
      <div class="text-center">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-200 sm:text-5xl md:text-6xl font-title">
        <span class="block">{{user}}'s <span class="text-orange-400">Pro</span><span class="text-green-500">fi</span><span class="text-blue-400">le</span></span>
        </h1>
      </div>
    </div>
  </div>

  <div class="bg-gray-700 border-gray-300 border-b">
    <div class="font-extrabold text-5xl text-center mt-16 text-white">
      Your Top 5 <span class="font-extrabold text-amber-500">Directors</span>:
    </div>

    <div class="grid grid-cols-7 gap text-center grid-rows-6 text-white font-bold">
          <div class="bg-linear-to-r from-amber-500 to-yellow-600 row-start-6 row-end-1 col-start-2 col-end-3 border-4 border-yellow-400 shadow-2xl">{{directorOne}} <br> Movies Watched: {{directorOneCount}} <br> Avg Rating: {{avgOne}} </div>
          <div class="bg-linear-to-r from-stone-700 to-zinc-500 row-start-6 row-end-2 col-start-3 col-end-4 border-4 border-gray-600 shadow-2xl">{{directorTwo}} <br> Movies Watched: {{directorTwoCount}} <br> Avg Rating: {{avgTwo}} </div>
          <div class="bg-linear-to-t from-yellow-800 to-orange-700 row-start-6 row-end-3 col-start-4 col-end-5 border-4 border-yellow-700 shadow-2xl">{{directorThree}} <br> Movies Watched: {{directorThreeCount}} <br> Avg Rating: {{avgThre}} </div>
          <div class="bg-linear-to-b from-yellow-500 to-orange-400 row-start-6 row-end-4 col-start-5 col-end-6 border-4 border-yellow-900 shadow-2xl">{{directorFour}}<br> Movies Watched: {{directorFourCount}} <br> Avg Rating: {{avgFour}} </div>
          <div class="bg-linear-to-b from-green-800 to-emerald-700 row-start-5 row-end-5 col-start-6 col-end-7 border-4 border-green-600 shadow-2xl">{{directorFive}}<br> Movies Watched: {{directorFiveCount}} <br> Avg Rating: {{avgFive}} </div>
    </div>
  </div>

  <div class="bg-gray-700 border-gray-300 border-b">
    <div class="font-extrabold text-5xl text-center mt-16 text-white">
      Your Top 3 <span class="font-extrabold text-amber-500">Decades</span>:
    </div>

    <div class="grid grid-cols-4 grid-rows-3 text-center gap-2 mb-12 mt-8 text-white font-bold">
      <div class="bg-blue-700 col-start-2 col-end-3 border">{{decOne}}</div>
      <div class="bg-blue-700 col-start-3 col-end-4 border">{{decOneCount}} movies from this decade</div>  
      <div class="bg-blue-700 col-start-2 col-end-3 border">{{decTwo}}</div>  
      <div class="bg-blue-700 col-start-3 col-end-4 border">{{decTwoCount}} movies from this decade</div>  
      <div class="bg-blue-700 col-start-2 col-end-3 border">{{decThree}}</div>  
      <div class="bg-blue-700 col-start-3 col-end-4 border">{{decThreeCount}} movies from this decade</div>           
    </div>
  </div>

  <div class="bg-gray-700 border-gray-300 border-b">
    <div class="font-extrabold text-5xl text-center mt-16 text-white mb-12">
      Your Most Common <span class="font-extrabold text-amber-500">Ratings</span>:
    </div>

    <div class="grid grid-rows-5 text-center gap-2 grid-cols-8 mb-8 text-white font-bold">
      <div class="bg-blue-800 row-start-1 row-end-2 col-start-2 col-end-7">{{rateOne}}/10</div> <div class="row-start-1 row-end-2 col-start-7 col-end-8">{{rateOneCount}} Times rated</div>
      <div class="bg-blue-800 row-start-2 row-end-3 col-start-2 col-end-6">{{rateTwo}}/10</div> <div class="row-start-2 row-end-3 col-start-7 col-end-8">{{rateTwoCount}} Times rated</div>
      <div class="bg-blue-800 row-start-3 row-end-4 col-start-2 col-end-5">{{rateThree}}/10</div> <div class="row-start-3 row-end-4 col-start-7 col-end-8">{{rateThreeCount}} Times rated</div>
      <div class="bg-blue-800 row-start-4 row-end-5 col-start-2 col-end-4 ">{{rateFour}}/10</div> <div class="row-start-4 row-end-5 col-start-7 col-end-8">{{rateFourCount}} Times rated</div>
      <div class="bg-blue-800 row-start-5 row-end-5 col-start-2 col-end-2">{{rateFive}}/10</div>  <div class="row-start-5 row-end-5 col-start-7 col-end-8">{{rateFiveCount}} Times rated</div>
    </div>

  </div>

  <div class="bg-gray-700">
    <div class="font-extrabold text-5xl text-center mt-16 text-white mb-12">
      Your Most Common <span class="font-extrabold text-amber-500">Genres</span>:
    </div>
    <div class="grid grid-cols-5">
      <div style="position: relative; height:50vh; width:50vw" class="col-start-3 col-end-3 mb-12">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
 
  
</body>

<script>
  
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['{{genreOne}} ({{genreOneCount}})', '{{genreTwo}} ({{genreTwoCount}})', '{{genreThree}} ({{genreThreeCount}})', '{{genreFour}} ({{genreFourCount}})', '{{genreFive}} ({{genreFiveCount}})', 'Other ({{remainderPer}})'],
      datasets: [{
        label: '# of Films per Genre',
        data: ["{{genreOneCount}}", "{{genreTwoCount}}", "{{genreThreeCount}}", "{{genreFourCount}}", "{{genreFiveCount}}", "{{remainderPer}}"],
        backgroundColor: [
          'rgb(161, 27, 27)',
          'rgb(0, 0, 255)',
          'rgb(0, 83, 14)',
          'rgb(251, 247, 12)',
          'rgb(43, 231, 175)',
          'rgb(162, 32, 186)',
        ],
        borderWidth: 1,
        devicePixelRatio:2,
      }]
    },
  });
</script>

</html>